<!DOCTYPE html>
<html class="no-js">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title><%= htmlWebpackPlugin.options.title %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div class="main">
            <div class="container">
                <div class="main__head">
                    <div class="row flex--xend">
                        <button class="btn btn--outline-primary">
                            <span>LOG OUT</span>
                        </button>
                    </div>
                    <div class="row flex--xcenter only--desktop">
                        <button class="btn btn--outline-secondary">
                            <svg id="camera" class="ionicon btn__icon" viewBox="0 0 512 512">
                                <circle cx="256" cy="272" r="64"></circle>
                                <path
                                    d="M432 144h-59c-3 0-6.72-1.94-9.62-5l-25.94-40.94a15.52 15.52 0 00-1.37-1.85C327.11 85.76 315 80 302 80h-92c-13 0-25.11 5.76-34.07 16.21a15.52 15.52 0 00-1.37 1.85l-25.94 41c-2.22 2.42-5.34 5-8.62 5v-8a16 16 0 00-16-16h-24a16 16 0 00-16 16v8h-4a48.05 48.05 0 00-48 48V384a48.05 48.05 0 0048 48h352a48.05 48.05 0 0048-48V192a48.05 48.05 0 00-48-48zM256 368a96 96 0 1196-96 96.11 96.11 0 01-96 96z"></path>
                            </svg>
                            <span>Upload Cover Image</span>
                        </button>
                    </div>
                    <div class="row">
                        <div class="profile">
                            <div class="profile__img">
                                <img src="assets/images/profile_image.jpg" alt="">
                            </div>
                            <div id="profile__data1">
                                <h3 class="profile__name"></h3>
                                <div class="profile__loc">
                                    <svg id="location-outline" width="20" class="ionicon" viewBox="0 0 512 512">
                                        <path
                                            d="M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="ionicon-fill-none ionicon-stroke-width"></path>
                                        <circle
                                            cx="256"
                                            cy="192"
                                            r="48"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                            class="ionicon-fill-none ionicon-stroke-width"></circle>
                                    </svg>
                                    <span></span>
                                </div>
                                <div class="profile__tel">
                                    <svg id="call-outline" width="20" class="ionicon" viewBox="0 0 512 512">
                                        <path
                                            d="M451 374c-15.88-16-54.34-39.35-73-48.76-24.3-12.24-26.3-13.24-45.4.95-12.74 9.47-21.21 17.93-36.12 14.75s-47.31-21.11-75.68-49.39-47.34-61.62-50.53-76.48 5.41-23.23 14.79-36c13.22-18 12.22-21 .92-45.3-8.81-18.9-32.84-57-48.9-72.8C119.9 44 119.9 47 108.83 51.6A160.15 160.15 0 0083 65.37C67 76 58.12 84.83 51.91 98.1s-9 44.38 23.07 102.64 54.57 88.05 101.14 134.49S258.5 406.64 310.85 436c64.76 36.27 89.6 29.2 102.91 23s22.18-15 32.83-31a159.09 159.09 0 0013.8-25.8C465 391.17 468 391.17 451 374z"
                                            stroke-miterlimit="10"
                                            class="ionicon-fill-none ionicon-stroke-width"></path>
                                    </svg>
                                    <span></span>
                                </div>
                            </div>
                            <div class="review">
                                <div class="review__stars">
                                    <svg class="ionicon star" viewBox="0 0 512 512">
                                        <path
                                            d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"></path>
                                    </svg>
                                    <svg class="ionicon star" viewBox="0 0 512 512">
                                        <path
                                            d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"></path>
                                    </svg>
                                    <svg class="ionicon star" viewBox="0 0 512 512">
                                        <path
                                            d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"></path>
                                    </svg>
                                    <svg class="ionicon star" viewBox="0 0 512 512">
                                        <path
                                            d="M394 480a16 16 0 01-9.39-3L256 383.76 127.39 477a16 16 0 01-24.55-18.08L153 310.35 23 221.2a16 16 0 019-29.2h160.38l48.4-148.95a16 16 0 0130.44 0l48.4 149H480a16 16 0 019.05 29.2L359 310.35l50.13 148.53A16 16 0 01394 480z"></path>
                                    </svg>
                                    <svg class="ionicon star--outline" viewBox="0 0 512 512">
                                        <path
                                            d="M480 208H308L256 48l-52 160H32l140 96-54 160 138-100 138 100-54-160z"
                                            stroke-linejoin="round"
                                            class="ionicon-fill-none ionicon-stroke-width"></path>
                                    </svg>
                                </div>
                                <div class="review__amount">
                                    <a href="#">
                                        <span>6</span>
                                        Reviews</a>
                                </div>
                            </div>
                            <a href="#" class="followers only--mobile">
                                <svg id="add-circle" class="ionicon followers__icon" viewBox="0 0 512 512">
                                    <path
                                        d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm80 224h-64v64a16 16 0 01-32 0v-64h-64a16 16 0 010-32h64v-64a16 16 0 0132 0v64h64a16 16 0 010 32z"></path>
                                </svg>
                                <span class="followers__count">15</span>
                                <span class="followers__text">Followers</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tabs">

                    <ul class="tabs__list">
                        <li class="tabs__li">
                            <button class="tabs__btn active">ABOUT</button>
                        </li>
                        <li class="tabs__li">
                            <button class="tabs__btn">SETTINGS</button>
                        </li>
                        <li class="tabs__li">
                            <button class="tabs__btn">OPTION 1</button>
                        </li>
                        <li class="tabs__li">
                            <button class="tabs__btn">OPTION 2</button>
                        </li>
                        <li class="tabs__li">
                            <button class="tabs__btn">OPTION 3</button>
                        </li>
                    </ul>

                    <a href="#" class="followers only--desktop">
                        <svg id="add-circle" class="ionicon followers__icon" viewBox="0 0 512 512">
                            <path
                                d="M256 48C141.31 48 48 141.31 48 256s93.31 208 208 208 208-93.31 208-208S370.69 48 256 48zm80 224h-64v64a16 16 0 01-32 0v-64h-64a16 16 0 010-32h64v-64a16 16 0 0132 0v64h64a16 16 0 010 32z"></path>
                        </svg>
                        <span class="followers__count">15</span>
                        <span class="followers__text">Followers</span>
                    </a>

                </div>

                <div class="main__content">
                    <div class="tabs__content">
                        <div class="content__title">
                            <h2>About</h2>
                            <div id="toggle__btn-mob" class="only--mobile">
                                <button class="edit__mobile"><svg width="15" id="pencil-sharp" class="ionicon" viewBox="0 0 512 512"><path d="M103 464H48v-55L358.14 98.09l55.77 55.78L103 464zM425.72 142L370 86.28l31.66-30.66C406.55 50.7 414.05 48 421 48a25.91 25.91 0 0118.42 7.62l17 17A25.87 25.87 0 01464 91c0 7-2.71 14.45-7.62 19.36zm-7.52-70.83z"></path></svg></button>
                                <div class="edit__mobile-wrap">
                                    <a id="cancel__mob">CANCEL</a>
                                    <a id="save__mob">SAVE</a>
                                </div>
                            </div>
                        </div>

                        <table id="profile__data2" border="0" cellspacing="0" cellpadding="0">
                        </table>
                    </div>
                    <div class="tabs__content">
                        <h2>Settings</h2>
                    </div>
                    <div class="tabs__content">
                        <h2>Option 1</h2>
                    </div>
                    <div class="tabs__content">
                        <h2>Option 2</h2>
                    </div>
                    <div class="tabs__content">
                        <h2>Option 3</h2>
                    </div>
                </div>
            </div>
            
        </div>
    </body>

</html>