.btn, a, button {
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn,
.save__form,
.cancel__form {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: .25rem;
    font-weight: 600;
}

.submit__edit, .cancel__edit {
    padding: .375rem .75rem;
    margin-right: 7px;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.btn--primary, .submit__edit {
    color: $light;
    background-color: $primary;
    border-color: $primary;
}

.btn--secondary {
    color: $light;
    background-color: $secondary;
    border-color: $secondary;
}

.btn--outline-primary, .cancel__edit {
    color: $primary;
    border-color: $primary;
}

.btn--outline-secondary {
    color: $secondary-text;
    border-color: $secondary;

    .btn__icon {
        fill: $secondary;
    }
}

.btn__icon {
    width: 20px;
    margin-right: 10px;
    fill: inherit;
}

.ionicon-fill-none {
    fill: none;
}

.ionicon-stroke-width {
    stroke-width: 32px;
}

.ionicon {
    fill: inherit;
    stroke: inherit;
}

svg {
    pointer-events: none;
}

.edit__mobile-wrap {
    display: none;
}