*, ::after, ::before {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.main {
    background-color: $main-bg;
    color: $dark;
    padding: 30px;
    @media (min-width: 1024px){
        height: 100vh;
    }
}
.container {
    max-width: 960px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}