.main__content {
    padding: 30px;
    background-color: $light;
    @include shadow-small;
}

.content__title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    h2 {
        margin-bottom: 0;
        align-items: center;
    }
}

.data__list {
    padding: 0;

    li {
        list-style-type: none;
    }
}

.data__item {
    padding: 10px;
    background-color: $main-bg;
}

.data__btn {
    padding: 10px;
    background-color: $main-bg-dark;
}

.data__row {
    display: flex;
    margin-bottom: 10px;
}

.edit__data {
    background-color: $main-bg-dark;
}

.spoiler {
    display: none;
    position: relative;
}

.spoiler__btn {
    button {
        text-transform: uppercase;
    }
}

.spoiler__form {
    display: flex;
    flex-direction: column;
    z-index: 1;
    @media (min-width: 768px) {
        width: 300px;
        padding: 15px 20px;
        position: absolute;
        background-color: $light;
        @include shadow;
        &:before {
            content: '';
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid $light;
            width: 15px;
            height: 15px;
            position: absolute;
            left: -15px;
            @include shadow;
        }
    }
    
    label {
        color: $secondary-text;
        font-size: 12px;
    }
    .input__edit {
        margin-bottom: 15px;
    }
}

.form__group {
    flex-direction: column;
    position: relative;
    background-color: $light;

    position: absolute;
    z-index: 1000;
    display: none;
    @include shadow;
}
