@mixin shadow {
    box-shadow: 5px 8px 50px -5px rgba(0, 0, 0, 0.15);
}

@mixin shadow-small {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

@mixin flex-ycenter {
    display: flex;
    align-items: center;
}