.profile {
    display: flex;
    justify-content: space-between;
}

.profile__img {
    width: 170px;
    height: 170px;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include shadow;
        position: absolute;
        top: 15px;
    }
}

#profile__data1 {
    flex-grow: 2;
    padding: 30px;
}

.profile__loc,
.profile__tel {
    @include flex-ycenter;
    margin-bottom: 10px;
    font-size: 14px;
    svg {
        fill: $secondary;
        stroke: $secondary;
        margin-right: 10px;
    }
}

.review {
    display: flex;
    padding: 30px 0;
}

.review__amount {
    margin-left: 15px;
    font-size: 14px;
}

.star {
    fill: $secondary-text;
    width: 15px;
}

.star--outline {
    fill: $secondary-text;
    stroke: $secondary-text;
    width: 15px;
}