@media (max-width: 767px){
    body {
        overflow-x: hidden;
    }
    .main {
        padding: 0;
    }
    .profile {
        flex-direction: column;
    }
    .profile__img {
        margin: 30px auto;
        img {
            position: relative;
            top: 0;
        }
    }
    #profile__data1 {
        padding: 0;
        text-align: center;
    }
    .btn--outline-primary {
        padding: 0;
        border: none;
    }
    .container {
        padding: 0;
    }
    .main__head {
        background-color: $main-bg;
    }
    .star {
        fill: $primary;
    }
    .star--outline {
        fill: $primary;
        stroke: $primary;
    }
    .only--desktop {
        display: none;
    }
    .only--mobile {
        display: flex;
    }
    .review {
        margin-bottom: 10px;
        padding: 0;
    }
    .followers {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .tabs {
        overflow-x: auto;
        width: 100vw;
    }
    .tabs__list {
        flex: none;
        overflow-y: hidden;
        position: relative;
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
            height: 100%;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #fff 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 100%);
        }
    }
    .data__btn {
        display: none;
    }

    .data__item {
        background-color: #fff;
        padding: 5px 0;
    }
    
    .data__row {
        margin-bottom: 5px;
    }
    
    .data__icon {
        background-color: #fff;
    }

    .show--input-mob {
        .data__item {
            display: none;
        }
        .spoiler {
            display: block;
        }
        .spoiler__btn {
            display: none;
        }
        &, .spoiler, tr.data__row td {
            width: 100%;
        }
    }

    .show--toggle {
        align-items: center;
        .edit__mobile {
            display: none;
        }
        .edit__mobile-wrap {
            display: block;
        }
        .edit__mobile-wrap a {
            color: $primary;
            margin-left: 10px;
        }
    }
}

@media (min-width: 768px){
    .only--mobile {
        display: none;
    }
    .only--desktop {
        display: flex;
    }
    tr.data__row:nth-of-type(2) .data__item,
    tr.data__row:nth-of-type(3) .data__item,
    tr.data__row:nth-of-type(4) .data__item {
        position: relative;
        padding-left: 40px;
        &:after {
            display: block;
            content: '';
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
            position: absolute;
            left: 10px;
            top: 10px;
        }   
    }

    tr.data__row:nth-of-type(2) .data__item:after {
        background-image: url('/assets/images/earth.svg');
    }

    tr.data__row:nth-of-type(3) .data__item:after {
        background-image: url('/assets/images/telephone-outline.svg');
    }

    tr.data__row:nth-of-type(4) .data__item:after {
        background-image: url('/assets/images/home-outline.svg');
    }

}