.tabs {
    background-color: $light;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    @include shadow-small;
    @media (min-width: 768px){
        padding-left: 200px;
    }
    
}

.tabs__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.tabs__li {
    padding-right: 10px;
    padding-left: 10px;
}

.tabs__btn {
    -webkit-appearance: none;
    border: none;
    padding: 20px 0;
    border-bottom: 2px solid $light;
    background-color: $light;
    &.active {
        border-bottom-color: $primary;
    }
}

.followers {
    display: flex;
    align-items: center;
    &__icon {
        width: 20px;
        fill: $secondary-text;
        margin-right: 5px;
    }
    &__count {
        margin-right: 5px;
    }
}